$screenWidth: 1140px;
$borderSize: 1px;
$roadMap_borderSize: 3px;
$checkPoint_itemHeight: 50px;
$checkPoint_symbol: '\2714';
$checkPoint_symbol_notC: '\2716';
$circle_d: 30px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, "Lato";
}

.container {
    max-width: $screenWidth;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

.header {

    .menu {
        display: flex;
        justify-content: space-between;

        &_left {
            list-style-type: none;
            display: flex;
            margin: 8px;
            padding: 8px;
        }

        &_right {
            list-style-type: none;
            display: flex;
            margin: 8px;
            padding: 8px;
        }

        &_item {
            height: 35px;
            width: 80px;
            border-radius: 7px;
            margin: 0 8px;
            padding: 8px;
            background: #eee;
            text-align: center;
        }
    }
}

.CV {
    margin: 20px 0;
    box-shadow: 0px 0px 20px 10px #eee;
    border-radius: 20px;
    padding: 10px;

    &_head {
        display: flex;
    }

    .article {
        margin-left: 16px;
    }
}

.content {
    

    .roadMap {
        width: 100%;
        height: 100%;
        margin: 20px 0;
        box-shadow: 0px 0px 20px 10px #eee;
        border-radius: 20px;
        padding: 10px;

        &_item {
            height: $checkPoint_itemHeight;
            display: flex;
            align-items: center;
            

            &_checkPoint {
                width: $checkPoint_itemHeight;
                height: 100%;
                position: relative;

                .verticalLine {
                    height: $checkPoint_itemHeight;
                    margin: 0 auto;
                    background-color: #00796B;
                    position: absolute;
                    width: $roadMap_borderSize;
                    left: ($checkPoint_itemHeight - $roadMap_borderSize) / 2;

                    &_start {
                        top: $checkPoint_itemHeight / 2;
                        height: $checkPoint_itemHeight / 2;
                    }

                    &_middle {

                        &_notC {
                            background-color: #9e9e9e;
                        }
                    }

                    &_end {
                        height: $checkPoint_itemHeight / 2;
                        background-color: #9e9e9e;
                    }
                }

                .circle {
                    top: ($checkPoint_itemHeight - $circle_d) / 2;
                    left: ($checkPoint_itemHeight - $circle_d) / 2;
                    margin: 0 auto;
                    height: $circle_d;
                    width: $circle_d;
                    background-color: #80CBC4;
                    border-radius: $circle_d;
                    position: absolute;
                    text-align: center;
                    border: $roadMap_borderSize solid #00796B;
                    display: table;

                    &_notC {
                        border: $roadMap_borderSize solid #9e9e9e;
                        background-color: rgb(220, 220, 220);
                    }

                    &_symbol {
                        width: 100%;
                        vertical-align: middle;
                        display: table-cell;
                        padding-bottom: 2px;

                        &::before {
                            content: $checkPoint_symbol;
                        }

                        &_notC::before {
                            content: $checkPoint_symbol_notC;
                        }
                    }
                }
            }

            &_content {}
        }
    }

    .projects {
        
        .project_item1 {
            margin: 20px 0;
            box-shadow: 0px 0px 20px 10px #eee;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }

        .project_item2 {
            margin: 20px 0;
            box-shadow: 0px 0px 20px 10px #eee;
            border-radius: 20px;
            padding: 10px;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }

        .project_img {
            width: 30%;
        }
    }
}

.footer {
    border: $borderSize solid black;
    height: 200px;
}

//Стили для всего текста
h1, h2, h3 {
    margin: 16px 0px 8px;
}

.text_h3_roadMap {
    text-align: center;
    text-transform: uppercase;
}

.p {
    
    &_CV {
        margin: 0px 0px 16px;
    }

    &_roadMap {

    }
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

img {
    border: 1px solid #eee;
    border-radius: 20px;
}