@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif, "Lato";
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu_left {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px;
  padding: 8px;
}

.header .menu_right {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px;
  padding: 8px;
}

.header .menu_item {
  height: 35px;
  width: 80px;
  border-radius: 7px;
  margin: 0 8px;
  padding: 8px;
  background: #eee;
  text-align: center;
}

.CV {
  margin: 20px 0;
  -webkit-box-shadow: 0px 0px 20px 10px #eee;
          box-shadow: 0px 0px 20px 10px #eee;
  border-radius: 20px;
  padding: 10px;
}

.CV_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.CV .article {
  margin-left: 16px;
}

.content .roadMap {
  width: 100%;
  height: 100%;
  margin: 20px 0;
  -webkit-box-shadow: 0px 0px 20px 10px #eee;
          box-shadow: 0px 0px 20px 10px #eee;
  border-radius: 20px;
  padding: 10px;
}

.content .roadMap_item {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .roadMap_item_checkPoint {
  width: 50px;
  height: 100%;
  position: relative;
}

.content .roadMap_item_checkPoint .verticalLine {
  height: 50px;
  margin: 0 auto;
  background-color: #00796B;
  position: absolute;
  width: 3px;
  left: 23.5px;
}

.content .roadMap_item_checkPoint .verticalLine_start {
  top: 25px;
  height: 25px;
}

.content .roadMap_item_checkPoint .verticalLine_middle_notC {
  background-color: #9e9e9e;
}

.content .roadMap_item_checkPoint .verticalLine_end {
  height: 25px;
  background-color: #9e9e9e;
}

.content .roadMap_item_checkPoint .circle {
  top: 10px;
  left: 10px;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  background-color: #80CBC4;
  border-radius: 30px;
  position: absolute;
  text-align: center;
  border: 3px solid #00796B;
  display: table;
}

.content .roadMap_item_checkPoint .circle_notC {
  border: 3px solid #9e9e9e;
  background-color: gainsboro;
}

.content .roadMap_item_checkPoint .circle_symbol {
  width: 100%;
  vertical-align: middle;
  display: table-cell;
  padding-bottom: 2px;
}

.content .roadMap_item_checkPoint .circle_symbol::before {
  content: "✔";
}

.content .roadMap_item_checkPoint .circle_symbol_notC::before {
  content: "✖";
}

.content .projects .project_item1 {
  margin: 20px 0;
  -webkit-box-shadow: 0px 0px 20px 10px #eee;
          box-shadow: 0px 0px 20px 10px #eee;
  border-radius: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .projects .project_item2 {
  margin: 20px 0;
  -webkit-box-shadow: 0px 0px 20px 10px #eee;
          box-shadow: 0px 0px 20px 10px #eee;
  border-radius: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .projects .project_img {
  width: 30%;
}

.footer {
  border: 1px solid black;
  height: 200px;
}

h1, h2, h3 {
  margin: 16px 0px 8px;
}

.text_h3_roadMap {
  text-align: center;
  text-transform: uppercase;
}

.p_CV {
  margin: 0px 0px 16px;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

img {
  border: 1px solid #eee;
  border-radius: 20px;
}
/*# sourceMappingURL=style.css.map */