$screenWidth: 1140px;
$borderSize: 1px;
$checkPointWidth: 50px;
$roadMap_itemHeight: 70px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: $screenWidth;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

.header {
    border: $borderSize solid black;

    .menu {
        padding: 32px 0;

        &_list {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
        }
    }
}

.content {
    border: $borderSize solid black;

    .roadMap {
        width: 100%;
        // border: $borderSize solid darkblue;
        height: 100%;

        &_item {
            // border: $borderSize solid blue;
            height: $roadMap_itemHeight;
            display: flex;
            align-items: center;
            

            &_checkPoint {
                width: $roadMap_itemHeight;
                height: 100%;
                // border: $borderSize solid red;
                position: relative;

                .verticalLine {
                    height: $roadMap_itemHeight;
                    margin: 0 auto;
                    background-color: #00796B;
                    position: absolute;
                    width: 5px;
                    left: 30px;

                    &_start {
                        top: $roadMap_itemHeight / 2;
                        height: $roadMap_itemHeight / 2;
                    }

                    &_middle {

                        &_notC {
                            background-color: #9e9e9e;
                        }
                    }

                    &_end {
                        height: $roadMap_itemHeight / 2;
                        background-color: #9e9e9e;
                    }
                }

                .circle {
                    top: 17px;
                    left: 17px;
                    height: 30px;
                    width: 30px;
                    background-color: #80CBC4;
                    border-radius: 30px;
                    position: absolute;
                    text-align: center;
                    border: 5px solid #00796B;
                    display: table;

                    &_notC {
                        border: 5px solid #9e9e9e;
                        background-color: rgb(220, 220, 220);
                    }

                    p {
                        vertical-align: middle;
                        display: table-cell;
                        margin: 0 0;
                        padding: 0 0;
                    }
                }
            }

            &_content {}
        }
    }
}

.footer {
    border: $borderSize solid black;
    height: 200px;
}