$screenWidth: 1140px;
$borderSize: 1px;
$roadMap_borderSize: 3px;
$checkPoint_itemHeight: 50px;
$checkPoint_symbol: '\2714';
$checkPoint_symbol_notC: '\2716';
$circle_d: 30px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: $screenWidth;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

.header {
    border: $borderSize solid black;

    .menu {
        padding: 32px 0;

        &_list {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
        }
    }
}

.content {
    border: $borderSize solid black;

    .roadMap {
        width: 100%;
        // border: $borderSize solid darkblue;
        height: 100%;

        &_item {
            // border: $borderSize solid blue;
            height: $checkPoint_itemHeight;
            display: flex;
            align-items: center;
            

            &_checkPoint {
                width: $checkPoint_itemHeight;
                height: 100%;
                // border: $borderSize solid red;
                position: relative;

                .verticalLine {
                    height: $checkPoint_itemHeight;
                    margin: 0 auto;
                    background-color: #00796B;
                    position: absolute;
                    width: $roadMap_borderSize;
                    left: ($checkPoint_itemHeight - $roadMap_borderSize) / 2;

                    &_start {
                        top: $checkPoint_itemHeight / 2;
                        height: $checkPoint_itemHeight / 2;
                    }

                    &_middle {

                        &_notC {
                            background-color: #9e9e9e;
                        }
                    }

                    &_end {
                        height: $checkPoint_itemHeight / 2;
                        background-color: #9e9e9e;
                    }
                }

                .circle {
                    top: ($checkPoint_itemHeight - $circle_d) / 2;
                    left: ($checkPoint_itemHeight - $circle_d) / 2;
                    margin: 0 auto;
                    height: $circle_d;
                    width: $circle_d;
                    background-color: #80CBC4;
                    border-radius: $circle_d;
                    position: absolute;
                    text-align: center;
                    border: $roadMap_borderSize solid #00796B;
                    display: table;

                    &_notC {
                        border: $roadMap_borderSize solid #9e9e9e;
                        background-color: rgb(220, 220, 220);
                    }

                    &_symbol {
                        width: 100%;
                        vertical-align: middle;
                        display: table-cell;
                        padding-bottom: 2px;

                        &::before {
                            content: $checkPoint_symbol;
                        }

                        &_notC::before {
                            content: $checkPoint_symbol_notC;
                        }
                    }
                }
            }

            &_content {}
        }
    }
}

.footer {
    border: $borderSize solid black;
    height: 200px;
}