/* Параметры для всех страниц */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
}
/* Стили блоков страницы "Главная" */

.block__top {
  display: flex;
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
  height: 768px;
}

.container {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.top__box {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url(img/background-top.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.block__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
}

.block__text {
  margin-top: 115px;
  flex-grow: 1;
}

.block__central {
  display: flex;
  justify-content: center;
  margin-bottom: 112px;
}

.block__h1 {
  width: 510px;
  border: 3px solid lightskyblue;
  margin-top: 115px;
  margin-bottom: 32px;
}

.block__content {
  padding-top: 64px;
}

.block__cardholder {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
  flex-wrap: wrap;
}

.block__card {
  padding: 44px 32px;
  width: 359px;
  height: 480.13px;
  background: #ffffff;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.card__img {
  align-self: center;
  margin-bottom: 51px;
}

.prefooter {
  display: flex;
  margin: 0 auto;
  width: 1140px;
  padding: 91px 0px 96px;
}

.block__connection {
  width: 100%;
}

.block_button {
  width: 100%;
  padding: 74px 0px 30px 383px;
}

.button__prefooter {
  width: 236.63px;
  height: 56px;
  background: #5a98d0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.block__footer {
  margin: 0 auto;
  width: 1140px;
}

.footer__text_h {
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.footer__text_p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.line {
  border-bottom: 3px solid #fff;
}

.block__callback {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.block__rights {
  width: 100%;
  padding-bottom: 64px;
}

.block__down {
  background-color: #316099;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list__text {
  padding: 64px 0 64px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
}

/* Стили страницы "контакты" */

.block__flex__c {
  border: 3px solid black;
  margin: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1140px;
}

.block__contacts {
  border: 3px solid purple;
  width: 40%;
  padding: 15px;
}

.block__form {
  border: 3px solid lightgreen;
  width: 40%;
  padding: 15px;
}

.block__map {
  border: 3px solid blue;
  width: 100%;
}

.block__footer_c {
  border: 3px solid red;
  clear: both;
  padding: 0px 15px;
}

.block__main {
  border: 3px solid red;
}

.project__item {
  position: relative;
  flex-grow: 1;
}

.project__item_margin {
  margin-right: 32px;
}

.project__parent {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.project__text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  position: absolute;
  color: #fff;
  top: 64px;
  right: 64px;
}

.project__text_mini_left {
  font-size: 28px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  position: absolute;
  color: #fff;
  top: 32px;
  left: 32px;
}

.project__text_mini_right {
  font-size: 28px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  position: absolute;
  color: #fff;
  top: 32px;
  right: 264px;
}

.project__img {
  width: 100%;
}

.line_c {
  border-top: 3px solid grey;
  margin: 15px 50px;
  clear: both;
}

.block__header_c {
  border: 3px solid purple;
  margin: 0px 50px;
}

.block__text_c {
  border: 3px solid brown;
  margin: 50px 0px;
  padding: 15px;
}

/* Стили текста */

.text_project {
  width: 75%;
  margin: 32px auto 64px;
  color: #222222;
  opacity: 1;
  text-align: center;
}

.h1-text {
  width: 510px;
  font-family: sans-serif, "Roboto";
  font-size: 64px;
  color: #1f3f68;
  font-weight: 100;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.p-text {
  width: 425px;
  font-family: sans-serif, "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1f3f68;
  opacity: 0.6;
}

.h2-text-contacts {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.h3-text {
  font-size: 36px;
  text-align: center;
  font-family: sans-serif, "Roboto";
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
}

.h3 {
  width: 495px;
}

.h4-text {
  font-size: 20px;
  line-height: 30px;
  /* font-family: sans-serif, "Roboto"; */
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #1f3f68;
  margin-bottom: 14px;
}

.card__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
}

.text-area {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.b-submit {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

ol li {
  display: inline;
}

/* Стили кнопок */

.button-top {
  padding: 15px 50px;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  font-family: sans-serif, "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 86px;
}
