/* Параметры для всех страниц */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  /* строка: 10 */
  max-width: 1140px;
  margin: 0 auto;
}

.text {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  opacity: 0.6;
}
/* Стили блоков страницы "Главная" */

.top {
  min-height: 768px;
  background: linear-gradient(
    0deg,
    #ebf3fb 8.84%,
    rgba(152, 195, 232, 0) 31.12%
  );
}

.top__box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 42px;
  align-items: center;
}

.top__info {
  padding-top: 115px;
  flex-grow: 1;
  background-image: url(img/background-top.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 44%;
}

.what-we-do {
  padding-top: 64px;
}

.block__h1 {
  width: 510px;
  border: 3px solid lightskyblue;
  margin-top: 115px;
  margin-bottom: 32px;
}

.block__content {
  padding-top: 64px;
}

.card-box {
  display: flex;
  justify-content: space-between;
  padding-top: 64px;
  padding-bottom: 64px;
}

.card {
  width: 359px;
  padding: 44px 32px;
  box-sizing: border-box;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.card__img {
  align-self: center;
  margin-bottom: 51px;
}

.prefooter {
  display: flex;
  margin: 0 auto;
  width: 1140px;
  padding-bottom: 96px;
  justify-content: space-between;
  align-items: center;
}

.footer__top {
  /* строка: 218 */
  padding-bottom: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__button {
  background: #5a98d0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 15px 80px;
  text-decoration: none;
}

.block__footer {
  margin: 0 auto;
  width: 1140px;
}



.text_footer {
  color:#ffffff;
}

hr {
  opacity: 0.6;
}

.block__rights {
  width: 100%;
  padding-top: 64px;
}

.footer {
  /* строка: 211 */
  background-color: #316099; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 112px;
  padding-bottom: 64px;
  padding-top: 91px;
}

.footer__info {
  display: flex;
  justify-content:space-between;
  margin-top: 64px;
}

.footer__list {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05;
  color: #ffffff;
  flex-grow: 1;
  flex-basis: 33.3333%;
  list-style-type: none;
  display: flex;
  margin-right: 32px;
}

.footer__list:first-child::before {
  content: 'A. ';
  display: block;
  margin-right: 16px;
}

.footer__list:nth-child(2)::before {
  content: 'T. ';
  display: block;
  margin-right: 16px;
}

.footer__list:last-child::before {
  content: 'E. ';
  display: block;
  margin-right: 16px;
}

.footer__copy {
  margin-top: 64px;
}

.footer__copy-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #ffffff;
  opacity: 0.4;
}
/* Стили страницы "контакты" */

.block__flex__c {
  border: 3px solid black;
  margin: 50px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 1140px;
}

.block__contacts {
  border: 3px solid purple;
  width: 40%;
  padding: 15px;
}

.block__form {
  border: 3px solid lightgreen;
  width: 40%;
  padding: 15px;
}

.block__map {
  border: 3px solid blue;
  width: 100%;
}

/* .block__footer_c {
  border: 3px solid red;
  clear: both;
  padding: 0px 15px;
} */

/* .block__main {
  border: 3px solid red;
} */



.project__item {
  position: relative;
  flex-grow: 1;
}

.project__item_margin {
  margin-right: 32px;
}

.project__parent {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.project__text {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
  letter-spacing: 0.05em;
  position: absolute;
  color: #fff;
  top: 64px;
  right: 64px;
}

.project__text_mini {
  right: auto;
  left: 32px;
  top: 32px;
  text-align: left;
}

.project__img {
  width: 100%;
}



/* .line_c {
  border-top: 3px solid grey;
  margin: 15px 50px;
  clear: both;
} */

/* .block__header_c {
  border: 3px solid purple;
  margin: 0px 50px;
} */

/* .block__text_c {
  border: 3px solid brown;
  margin: 50px 0px;
  padding: 15px;
} */

/* Стили текста */

.text_project {
  width: 75%;
  margin: 32px auto 64px;
  color: #222222;
  opacity: 1;
  text-align: center;
}

.top__heading {
  width: 510px;
  font-family: sans-serif, "Roboto";
  font-size: 64px;
  color: #1f3f68;
  font-weight: 100;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

.top__text {
  width: 425px;
  margin-bottom: 87px;
}

/* .h2-text-contacts {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
} */

.heading {
  font-size: 36px;
  text-align: center;
  font-weight: 300;
  line-height: 46px;
  letter-spacing: 0.05em;
}

.heading-mini {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
  letter-spacing: 0.05em;
  margin-bottom: 14px;
}

.footer__heading {
  width: 348px;
  text-align: left;
  color: #fff;
  margin-bottom: 32px;
}

.footer__text {
  width: 495px;
}

.h4-text {
  font-size: 20px;
  line-height: 30px;
  /* font-family: sans-serif, "Roboto"; */
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #1f3f68;
  margin-bottom: 14px;
}

.card__link {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5a98d0;
  text-decoration: none;
}

.text-area {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}

.b-submit {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

/* ol li {
  display: inline;
} */

/* Стили кнопок */

.top__button {
  padding: 15px 50px;
  background: #5a98d0;
  box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
  font-family: sans-serif, "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-top: 86px;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .top__info {
    background-position: right center;
  }

  .card-box {
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 32px;
  }
}

@media (max-width: 667px) {
  .header {
    padding-top: 24px;
  }

  .top {
    min-height: 376px;
    padding-bottom: 41px;
    box-sizing: border-box;
  }

  .top__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 36px;
    background-image: none;
  }

  .top__heading {
    width: 100%;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 12px;
    text-align: center;
  }

  .top__text {
    width: 100%;
    text-align: center;
  }

  .top__button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
  }

  .heading {
    font-size: 24px;
    line-height: 28px;
  }

  .what-we-do {
    padding-top: 48px;
  }

  .card-box {
    padding-top: 32px;
  }

  .card {
    width: 100%;
  }

  .text_project {
    width: 100%;
  }

  .project__text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
  }

  .project__text_mini-l {
    left: 16px;
  }
}