* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 32px;
  padding-right: 32px;
}

.top {
  background-color: #222222;
}

.top .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
}

.top .menu_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .menu_left_item {
  margin-right: 41px;
}

.top .menu_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .menu_right_item {
  margin-left: 33px;
}

.top_bottom {
  background-color: #F1E4E6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top_bottom .poster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_bottom .poster_left {
  width: 50%;
  background-image: url(/prof-layout/images/poster_man.png);
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
}

.top_bottom .poster_img {
  width: 100%;
}

.top_bottom .poster_right {
  width: 50%;
  padding: 0 auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.top_bottom .poster_right_text {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
}

.middle .categories {
  padding-top: 65px;
}

.middle .categories_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.middle .categories_items_small {
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.middle .categories_items_small .card_text {
  width: 160px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.middle .categories_items_small p {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
}

.middle .categories_items_small .card_small_women {
  width: 533.33333px;
  background-image: url(/prof-layout/images/women.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle .categories_items_small .card_small_men {
  width: 533.33333px;
  background-image: url(/prof-layout/images/men.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 30px;
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle .categories_items_small .card_small_kids {
  width: 533.33333px;
  background-image: url(/prof-layout/images/kids.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle .categories_items_big {
  height: 180px;
  width: 100%;
  background-image: url(/prof-layout/images/accesories.png);
}

.colortext {
  color: #F16D7F;
}

.text_h1 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-transform: uppercase;
}

.text_h1_cat {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.text_h3 {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 44px;
  color: #222222;
  text-transform: uppercase;
}

.text_h3_cat {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */