$screenWidth: 1600px;

* {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}

.top {
    background-color: #222222;

    .menu {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        padding-bottom: 20px;

        &_left {
            display: flex;
            align-items: center;


            &_item {
                margin-right: 41px;
            }
        }

        &_right {
            display: flex;
            align-items: center;

            &_item {
                margin-left: 33px;
            }
        }
    }
}

.top_bottom {
    background-color: #F1E4E6;
    box-sizing: border-box;

    .poster {
        display: flex;
        justify-content: space-between;

        &_left {
            width: 50%;
            background-image: url(/prof-layout/images/poster_man.png);
            background-position: left;
            background-size: cover;
            background-repeat: no-repeat;
            height: 800px;
        }

        &_img {
            width: 100%;
        }

        &_right {
            width: 50%;
            padding: 0 auto;
            align-self: center;

            &_text {
                border-left: 12px solid #F16D7F;
                padding-left: 16px;
            }
        }
    }
}

.middle {

    .categories {
        padding-top: 65px;

        &_items {
            display: flex;
            flex-direction: column;

            &_small {
                height: 360px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 30px;

                .card_text {
                    width: 160px;
                    align-self: center;
                    text-align: center;
                }

                p {
                    font-family: 'Lato';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 24px;
                    line-height: 19px;
                    text-align: center;
                    color: #FFFFFF;
                    text-transform: uppercase;
                }


                .card_small_women {
                    width: $screenWidth / 3;
                    background-image: url(/prof-layout/images/women.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                }

                .card_small_men {
                    width: $screenWidth / 3;
                    background-image: url(/prof-layout/images/men.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-left: 30px;
                    margin-right: 30px;
                    display: flex;
                    justify-content: center;
                }

                .card_small_kids {
                    width: $screenWidth / 3;
                    background-image: url(/prof-layout/images/kids.png);
                    background-repeat: no-repeat;
                    background-size: cover;
                    display: flex;
                    justify-content: center;
                }
            }

            &_big {
                height: 180px;
                width: 100%;
                background-image: url(/prof-layout/images/accesories.png);
            }
        }   
    }
}

.colortext {
    color: #F16D7F;
}

.text_h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-transform: uppercase;

    &_cat {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 16px;
        color: #222222;
        text-transform: uppercase;
    }
}

.text_h3 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    line-height: 44px;
    color: #222222;
    text-transform: uppercase;

    &_cat {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        text-transform: uppercase;
    }
}